<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<title>Vue Todoist</title>
</head>
<body class="bg-gray-50">
	<div id="todoisApp" class="w-full mx-auto my-auto lg:w-2/4">
		<section class="w-full p-10">
			<header class="w-full lg:flex justify-between">
			<h3 class="text-3xl font-bold" >{{header}}</h3>
				<section>
					<button v-if="state === 'default'" @click="changeState('create')">Create</button>
					<button  v-else @click="changeState('default')">Cancel</button>
				</section>
			</header>
			<section class="mt-3" v-if="state === 'create'">
				<section class="w-full">
					<label for="item" class="block text-sm font-bold tracking-normal leading-2">Add New Todo to List</label>
					<input type="text" v-model="newTodo" class="w-full px-2 py-1 mt-2 text-base text-gray-900 bg-white border border-gray-300 rounded-md appearance-none" @keyup.enter="addTodo">
				</section>
				<section class="w-full mt-4">
					<button class="px-4 py-2 text-sm font-bold text-white bg-indigo-600 rounded-md" @click="addTodo" v-on:keyup.enter="addTodo">Add Todo</button>
				</section>
			</section>
		</section>

		<section class="w-full p-10 lg:w-2/4">
			<h3 class="text-2xl font-bold">ToDo List</h3>
			<ul class="mt-5">
				<li v-for="todo in todos">{{ todo }}</li>
			</ul>

		</section>
	</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>